<section class="main" [ngClass]="{ hidden: noTodoClass$ | async }">
  <!-- <input
    id="toggle-all"
    class="toggle-all"
    type="checkbox"
    [checked]="isAllTodosSelected$ | async"
    (change)="toggleAllTodos($event)"
  /> -->
 

  <todo-list></todo-list>
  <!-- <ul class="todo-list">
    <todo-item
      *ngFor="let todo of visibleTodos$ | async"
      [todo]="todo"
      [isEditing]="editingId === todo.id"
      (setEditingId)="setEditingId($event)"
    ></todo-item>
  </ul> -->
</section>
